<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleIndex.css">
    <title>Hack Chat</title>
</head>
<body>
    <div class="div-container">
        <div class="div-form">
            <form>
                <h1>Login</h1>
                <input type="text" id="usuario" name="usuario" placeholder="usuário">
                <input type="email" id="email" name="email" placeholder="email">
                <input type="password" id="password" name="password" placeholder="senha">
                <button type="submit" id="btn-login" name="btn-login">Login >></button>
            </form>
            <form>
                <h1>Cadastro</h1>
                <input type="text" id="usuario" name="usuario" placeholder="usuário">
                <input type="email" id="email" name="email" placeholder="email">
                <input type="password" id="password" name="password" placeholder="senha">
                <button type="submit" id="btn-cadastro" name="btn-cadastro">Cadastro >></button>
            </form>
        </div>
    </div>
</body>
</html>